<link rel="stylesheet" type="text/css" href="fty.css">

<div id="header">bagian Header</div>
<div id="menu">bagian menu </div>
<div  id="sidebar">bagian sidebar</div>
<div id="konten">bagian konten</div>
<div id="footer">bagian footer</div>